
<nav>
    
  <form action="/redirect-input" method="POST">
    <button type="submit">Go to Input Page</button>
</form>
  </nav>
  

  
  <div class="grid">
        <radialGradient id="paint0_radial_1_8" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(491 392.75) rotate(90) scale(51.25 679.989)">
          <stop stop-color="white" stop-opacity="0.2" />
          <stop offset="1" stop-color="#000" stop-opacity="0" />
        </radialGradient>
      </defs>
    </svg>
    <div class="blur"></div>
  </div>
  
  <div class="title">
    <p>Carbon Emission tracker </p>
  </div>
<link rel="stylesheet" type ="text/css" href="/static/index.css">
  

   
  